:root {
  --primary-color: #1EBBA3;
  --rose-red: #ff2768;
  --turquoise:#05E0E9;
}

/*============= HOME SECTION =============*/
/* -------------NAV----- */

section#home {
  margin-bottom: 80px;
  background-color: rgba(0, 0, 0, .6);
}

.offset-section:before {
  display: block;
  height: 4rem;
  content: "";
  margin-top: -4rem;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, .6) !important;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/******banner ****************/
/* .caption{
  width: 100%;
  max-width: 100%;
  top: 38%;
  z-index: 1;

} */
.banner {
  position: relative;
  width: 100%;
}

.banner-img {
  margin: 80px 115px;
  width: 60%;
}

.banner-img img {
  width: 100%;
  margin-bottom: -80px;
}

.banner-caption {
  position: absolute;
  left: 50%;
  top: 20%;
}

.banner-caption h1 {
  font-size: 55px;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  line-height: 70px;
  padding: 0 10px 0 10px;
  text-transform: capitalize;

}



/*============= ABOUT SECTION =============*/
section#about {
  padding: 100px 0;
}

.about-content {
  margin: 80px 0;
  position: relative;
}

.about-content::after {
  content: "";
  right: -2px;
  bottom: -140px;
  height: 145px;
  width: 180px;
  background-image: url("../img/rose-pink-2\ \(1\).jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
}

.about-content::before {
  content: "";
  left: -2px;
  top: -140px;
  height: 145px;
  width: 180px;
  background-image: url("../img/rose-pink-2\ \(2\).jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
}



.section-title {
  position: relative;
  margin: 0 auto 75px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  height: 100px;
  width: 200px;
  background-color: var(--rose-red);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.section-title::before {
  content: '';
  height: 100px;
  width: 200px;
  background-color: var(--rose-red);
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.section-title h1 {
  padding: 35px 0;
}


/*============= SASSY SECTION =============*/
section#sassy {
  background-color: #ff2768;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sassy-content{
  position: relative;
}

/* .sassy-content::before{
  content:"";
  position: absolute;
  background-image: url("../img/shap-1.png");
  height:98px ;
  width:421px;
  top:-50px;
  left: 50px;
  opacity: .75;
} */


.sassy-img img {
  width: 300px;
  height: 400px;
  margin: -100px;
  margin-top: 150px;
}

.sassy-self {
  max-width: 500px;
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}

.sassy-self a {
  width: 100px;
  display: block;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 5px;
  text-align: center;

}




/*============= GALLERY SECTION =============*/
section#gallery{
  margin: 250px 0 120px;
}

.gallery-img{
  position: relative;
  margin-bottom: 15px;

}

.gallery-img img{
 width: 100%;

}

.gallery-btn{
  width: 150px;
  padding: 10px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%,0);
  text-transform: capitalize;
  transition: 0.6s;
  opacity: 0;
}

.gallery-img:hover .gallery-btn{
  transform: translate(-50%,50%);
  bottom:50%;
  opacity: 1;
}

.overlay{
  height: 0%;
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  opacity:0;
  transition: .5s;
}

.gallery-img:hover .overlay{
  opacity: .5;
  height: 100%;
}


/*============= BFF SECTION =============*/
section#bff{
  position: relative;
 
}

.bff-img img{
  width:100%;
  border-radius:50%;
}

blockquote .svg-inline--fa{
  margin:1rem;
  color: #05E0E9;
}

.bff-hr{
  border-top:.05rem solid #05E0E9;
}



/*============= COURSE SECTION =============*/


/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*============ Media queries:*/
@media (max-width: 767px) {
  .bff-img img{
    max-width:50%;
    display: block;
    margin: 0 auto;
    
  }
  
 

 }

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/